In [2]:
import pandas as pd

In [3]:
#lectura de datos

df=pd.read_csv('Cheapestelectriccars-EVDatabase 2023.csv')
df

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Lucid Air Dream Edition P,118 kWh useable battery Available sin...,2.7 sec,270,645,183,820,All Wheel Drive,5,"218,000",NaN
1,Porsche Taycan Turbo S,83.7 kWh useable battery Available si...,2.8 sec,260,400,209,980,All Wheel Drive,4,"189,668","142,400"
2,Audi e-tron GT RS,85 kWh useable battery Available sinc...,3.3 sec,250,405,210,1000,All Wheel Drive,4,"146,050","115,000"
3,Renault Zoe ZE50 R110,52 kWh useable battery Available sinc...,11.4 sec,135,315,165,230,Front Wheel Drive,5,"36,840",NaN
4,Audi Q4 e-tron 35,52 kWh useable battery Available sinc...,9.0 sec,160,285,182,360,Rear Wheel Drive,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
304,Volkswagen ID.7 Pro,77 kWh useable battery Expected from ...,8.0 sec,180,470,164,700,Rear Wheel Drive,5,"55,000","53,000"
305,Volkswagen ID.7 Pro S,86 kWh useable battery Expected from ...,7.0 sec,180,520,165,800,Rear Wheel Drive,5,"60,000","56,000"
306,Polestar 4 Long Range Single Motor,94 kWh useable battery Expected from ...,7.4 sec,180,510,184,760,Rear Wheel Drive,5,"60,000","55,000"
307,Polestar 4 Long Range Dual Motor,94 kWh useable battery Expected from ...,3.8 sec,200,475,198,710,All Wheel Drive,5,"65,000","60,000"
308,Maserati Grecale Folgore,95 kWh useable battery Expected from ...,4.1 sec,220,405,235,440,All Wheel Drive,5,NaN,"135,000"

In [4]:
df.head(2) #Primeras 2 filas

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Lucid Air Dream Edition P,118 kWh useable battery Available sin...,2.7 sec,270,645,183,820,All Wheel Drive,5,"218,000",NaN
1,Porsche Taycan Turbo S,83.7 kWh useable battery Available si...,2.8 sec,260,400,209,980,All Wheel Drive,4,"189,668","142,400"

In [5]:
df.tail(2) #ultimas 2 filas

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
307,Polestar 4 Long Range Dual Motor,94 kWh useable battery Expected from ...,3.8 sec,200,475,198,710,All Wheel Drive,5,"65,000","60,000"
308,Maserati Grecale Folgore,95 kWh useable battery Expected from ...,4.1 sec,220,405,235,440,All Wheel Drive,5,NaN,"135,000"

In [6]:
df.head(3)

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Lucid Air Dream Edition P,118 kWh useable battery Available sin...,2.7 sec,270,645,183,820,All Wheel Drive,5,"218,000",NaN
1,Porsche Taycan Turbo S,83.7 kWh useable battery Available si...,2.8 sec,260,400,209,980,All Wheel Drive,4,"189,668","142,400"
2,Audi e-tron GT RS,85 kWh useable battery Available sinc...,3.3 sec,250,405,210,1000,All Wheel Drive,4,"146,050","115,000"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             309 non-null    object
 1   Subtitle         309 non-null    object
 2   Acceleration     309 non-null    object
 3   TopSpeed         309 non-null    int64
 4   Range            309 non-null    int64
 5   Efficiency       309 non-null    int64
 6   FastChargeSpeed  309 non-null    object
 7   Drive            309 non-null    object
 8   NumberofSeats    309 non-null    int64
 9   PriceinGermany   282 non-null    object
 10  PriceinUK        198 non-null    object
dtypes: int64(4), object(7)
memory usage: 26.7+ KB

In [8]:
df['Efficiency'].unique()#Inspeccionar cada variable
#Con el unique borras los valores repetidos

array([183, 209, 210, 165, 182, 181, 197, 168, 202, 167, 176, 180, 295,
       191, 172, 164, 162, 178, 193, 159, 200, 207, 188, 160, 157, 158,
       216, 250, 257, 262, 173, 161, 217, 208, 171, 177, 185, 189, 199,
       192, 190, 166, 186, 226, 232, 194, 187, 293, 151, 179, 155, 290,
       286, 163, 195, 212, 174, 203, 233, 219, 224, 206, 175, 152, 169,
       196, 150, 156, 211, 251, 254, 170, 214, 218, 228, 213, 220, 238,
       235, 243, 240, 198, 205, 230, 237, 223, 222, 261, 184])

In [9]:
df.nunique()#Numero de elementos unicos que hay por columna

Name               308
Subtitle           187
Acceleration        84
TopSpeed            36
Range               80
Efficiency          89
FastChargeSpeed     91
Drive                3
NumberofSeats        4
PriceinGermany     250
PriceinUK          185
dtype: int64

In [11]:
#df.columns.to_list() #Genera una lista de los nombres de las columnas en las tablas

for name in df.columns.to_list():
    print(f'La columna: {name} contiene los elementos {df[name].unique()}')

La columna: Name contiene los elementos ['Lucid Air Dream Edition P' 'Porsche Taycan Turbo S' 'Audi e-tron GT RS'
 'Renault Zoe ZE50 R110' 'Audi Q4 e-tron 35' 'Tesla Model Y Performance'
 'Porsche Taycan 4 Cross Turismo' 'Renault Zoe ZE50 R135'
 'Porsche Taycan Turbo' 'Smart EQ fortwo coupe' 'Smart EQ fortwo cabrio'
 'Honda e Advance' 'Porsche Taycan 4S' 'Porsche Taycan 4S Plus'
 'Mercedes EQV 300 Long' 'Lexus UX 300e' 'BMW i4 eDrive40'
 'Renault Twingo Electric' 'Fiat 500e Cabrio 42 kWh' 'Skoda Enyaq iV 60'
 'Skoda Enyaq iV 80' 'Skoda Enyaq iV 80x' 'Skoda Enyaq iV RS'
 'Fiat 500e Hatchback 42 kWh' 'Audi Q4 Sportback e-tron 35'
 'Nissan Ariya 63kWh' 'Nissan Ariya 87kWh'
 'Nissan Ariya e-4ORCE 87kWh - 225 kW'
 'Nissan Ariya e-4ORCE 87kWh - 290 kW' 'Volkswagen ID.4 Pro Performance'
 'Mercedes EQV 300 Extra-Long' 'Lucid Air Grand Touring'
 'Lucid Air Touring' 'Lucid Air Pure' 'Fiat 500e Hatchback 24 kWh'
 'Fiat 500e 3+1 42 kWh' 'Mercedes EQC 400 4MATIC'
 'Citroen e-SpaceTourer M 50 kWh' 'Citroen e-SpaceTourer XL 50 kWh'
 'Citroen e-SpaceTourer M 75 kWh' 'Citroen e-SpaceTourer XL 75 kWh'
 'Opel Zafira-e Life M 50 kWh' 'Opel Zafira-e Life L 50 kWh'
 'Opel Zafira-e Life M 75 kWh' 'Opel Zafira-e Life L 75 kWh'
 'Peugeot e-Traveller Standard 50 kWh' 'Peugeot e-Traveller Long 50 kWh'
 'Peugeot e-Traveller Standard 75 kWh' 'Peugeot e-Traveller Long 75 kWh'
 'Porsche Taycan ' 'Porsche Taycan Plus' 'Tesla Model S Dual Motor'
 'Tesla Model S Plaid' 'Tesla Model X Dual Motor' 'Tesla Model X Plaid'
 'Mini Cooper SE ' 'JAC iEV7s ' 'Volkswagen ID.4 Pure Performance'
 'Audi e-tron GT quattro' 'Hyundai Kona Electric 39 kWh'
 'Hyundai Kona Electric 64 kWh' 'Porsche Taycan 4S Cross Turismo'
 'Porsche Taycan Turbo Cross Turismo'
 'Porsche Taycan Turbo S Cross Turismo' 'Kia EV6 GT' 'BMW iX xDrive40'
 'BMW iX xDrive50' 'MG MG5 Electric Long Range' 'MG Marvel R Performance'
 'Hyundai IONIQ 5 Standard Range 2WD' 'Kia EV6 Standard Range 2WD'
 'Kia EV6 Long Range 2WD' 'Kia EV6 Long Range AWD' 'Mercedes EQS 450+'
 'Mercedes EQS 580 4MATIC' 'Volkswagen ID.4 Pure' 'Audi Q4 e-tron 40'
 'Audi Q4 e-tron 50 quattro' 'Audi Q4 Sportback e-tron 50 quattro'
 'Mercedes EQB 350 4MATIC' 'Mercedes EQA 300 4MATIC'
 'Mercedes EQA 350 4MATIC' 'Toyota PROACE Verso M 75 kWh'
 'Toyota PROACE Verso L 75 kWh' 'CUPRA Born 150 kW - 58 kWh'
 'CUPRA Born 170 kW - 58 kWh' 'CUPRA Born 170 kW - 77 kWh' 'BMW i4 M50'
 'Renault Megane E-Tech EV60 220hp' 'Peugeot e-Rifter Standard 50 kWh'
 'Peugeot e-Rifter Long 50 kWh' 'MG Marvel R ' 'Audi Q4 e-tron 45 quattro'
 'Audi Q4 Sportback e-tron 40' 'BMW iX3 '
 'Renault Megane E-Tech EV40 130hp' 'Mercedes EQS AMG 53 4MATIC+'
 'Mercedes EQE 350+' 'MG ZS EV Standard Range' 'MG ZS EV Long Range'
 'Mercedes EQV 250 Long' 'Mercedes EQV 250 Extra-Long'
 'Opel Combo-e Life 50 kWh' 'Opel Combo-e Life XL 50 kWh'
 'Citroen e-Berlingo M 50 kWh' 'Citroen e-Berlingo XL 50 kWh'
 'Tesla Model 3 ' 'Volkswagen ID.5 Pro' 'Volkswagen ID.5 Pro Performance'
 'Volkswagen ID.5 GTX' 'Mercedes EQB 300 4MATIC' 'Porsche Taycan GTS'
 'Porsche Taycan GTS Sport Turismo' 'Toyota bZ4X FWD' 'Toyota bZ4X AWD'
 'Subaru Solterra AWD' 'Peugeot e-208 ' 'Peugeot e-2008 SUV '
 'Opel Corsa-e ' 'Opel Mokka-e ' 'Citroen e-C4 '
 'Renault Megane E-Tech EV60 130hp' 'SsangYong Korando e-Motion'
 'BMW iX M60' 'Tesla Model 3 Long Range Dual Motor'
 'Citroen e-Jumpy Combi M 50 kWh' 'Citroen e-Jumpy Combi XL 50 kWh'
 'Citroen e-Jumpy Combi M 75 kWh' 'Citroen e-Jumpy Combi XL 75 kWh'
 'Opel Vivaro-e Combi M 50 kWh' 'Opel Vivaro-e Combi L 50 kWh'
 'Opel Vivaro-e Combi M 75 kWh' 'Opel Vivaro-e Combi L 75 kWh'
 'Peugeot e-Expert Combi Standard 50 kWh'
 'Peugeot e-Expert Combi Long 50 kWh'
 'Peugeot e-Expert Combi Standard 75 kWh'
 'Peugeot e-Expert Combi Long 75 kWh' 'Toyota PROACE Shuttle M 50 kWh'
 'Toyota PROACE Shuttle L 50 kWh' 'Toyota PROACE Shuttle M 75 kWh'
 'Toyota PROACE Shuttle L 75 kWh' 'Mercedes eVito Tourer Long 90 kWh'
 'Mercedes eVito Tourer Extra-Long 90 kWh'
 'Mercedes eVito Tourer Long 60 kWh'
 'Mercedes eVito Tourer Extra-Long 60 kWh'
 'Tesla Model Y Long Range Dual Motor' 'Tesla Model 3 Performance'
 'Porsche Taycan Sport Turismo' 'Porsche Taycan Plus Sport Turismo'
 'Porsche Taycan 4S Sport Turismo' 'Porsche Taycan 4S Plus Sport Turismo'
 'Porsche Taycan Turbo Sport Turismo'
 'Porsche Taycan Turbo S Sport Turismo' 'Volkswagen ID.4 Pro'
 'Skoda Enyaq Coupe iV 60' 'Skoda Enyaq Coupe iV 80'
 'Skoda Enyaq Coupe iV 80x' 'Skoda Enyaq Coupe iV RS'
 'MG MG5 Electric Standard Range' 'Genesis GV60 Premium'
 'Genesis GV60 Sport' 'Genesis GV60 Sport Plus' 'Volkswagen e-Up! '
 'Volkswagen ID. Buzz Pro' 'Mercedes EQE AMG 43 4MATIC'
 'Mercedes EQE AMG 53 4MATIC+' 'Nissan Leaf ' 'Nissan Leaf e+'
 'Hyundai IONIQ 5 Long Range 2WD' 'Hyundai IONIQ 5 Long Range AWD'
 'Mercedes EQB 250' 'Kia Niro EV ' 'Smart #1 ' 'Mercedes EQS SUV 450+'
 'Mercedes EQS SUV 450 4MATIC' 'Mercedes EQS SUV 580 4MATIC'
 'BMW i7 xDrive60' 'Lexus RZ 450e' 'Aiways U5 ' 'Mazda MX-30 '
 'Lucid Air Dream Edition R' 'Mercedes EQA 250' 'Mercedes EQA 250+'
 'Mercedes EQS 450 4MATIC' 'Mercedes EQS 500 4MATIC' 'BMW iX1 xDrive30'
 'Volkswagen ID.4 Pro 4MOTION' 'Genesis G80 Electrified Luxury'
 'Dacia Spring Electric 45' 'Citroen e-C4 X ' 'MG MG4 Electric 51 kWh'
 'MG MG4 Electric 64 kWh' 'Fisker Ocean Sport' 'Fisker Ocean Ultra'
 'Fisker Ocean Extreme' 'Fisker Ocean One' 'Mercedes EQE 300'
 'Mercedes EQE 350' 'Mercedes EQE 350 4MATIC' 'Mercedes EQE 500 4MATIC'
 'Hyundai IONIQ 6 Standard Range 2WD' 'Hyundai IONIQ 6 Long Range 2WD'
 'Hyundai IONIQ 6 Long Range AWD' 'Audi Q4 Sportback e-tron 45 quattro'
 'Fiat E-Ulysse L2 50 kWh' 'Fiat E-Ulysse L2 75 kWh'
 'Fiat E-Ulysse L3 50 kWh' 'Fiat E-Ulysse L3 75 kWh'
 'Genesis GV70 Electrified Sport' 'Fiat 500e 3+1 24 kWh'
 'Fiat 500e Cabrio 24 kWh' 'Tesla Model Y ' 'Peugeot e-308 '
 'Peugeot e-308 SW ' 'Hongqi E-HS9 84 kWh' 'Hongqi E-HS9 99 kWh'
 'Smart #1 Brabus' 'Kia e-Soul 64 kWh' 'Kia e-Soul 39.2 kWh'
 'NIO ET7 75 kWh' 'NIO ET7 100 kWh' 'Ford Mustang Mach-E SR RWD'
 'Ford Mustang Mach-E ER RWD' 'Ford Mustang Mach-E SR AWD'
 'Ford Mustang Mach-E ER AWD' 'Ford Mustang Mach-E GT'
 'Polestar 3 Long Range Dual motor' 'Polestar 3 Long Range Performance'
 'Mercedes EQE SUV 350+' 'Mercedes EQE SUV 350 4MATIC'
 'Mercedes EQE SUV 500 4MATIC' 'Mercedes EQE SUV AMG 43 4MATIC'
 'Mercedes EQE SUV AMG 53 4MATIC+' 'Rolls-Royce Spectre ' 'Aiways U6 '
 'Lotus Eletre ' 'Lotus Eletre R' 'Audi Q8 e-tron 50 quattro'
 'Audi Q8 e-tron 55 quattro' 'Audi Q8 e-tron Sportback 50 quattro'
 'Audi Q8 e-tron Sportback 55 quattro' 'Audi SQ8 e-tron '
 'Audi SQ8 e-tron Sportback ' 'Volvo EX90 Twin Motor'
 'Volvo EX90 Twin Motor Performance' 'Mercedes EQB 250+'
 'Toyota Proace City Verso Electric L1 50 kWh'
 'Toyota Proace City Verso Electric L2 50 kWh' 'ORA Funky Cat 48 kWh'
 'BYD ATTO 3 ' 'BYD TANG ' 'BYD HAN ' 'BMW i4 eDrive35' 'NIO ET5 75 kWh'
 'NIO ET5 100 kWh' 'NIO EL7 75 kWh' 'NIO EL7 100 kWh'
 'Abarth 500e Scorpionissima' 'DS 3 E-Tense' 'Opel Astra Electric'
 'Opel Astra Sports Tourer Electric' 'Jeep Avenger Electric 1st Edition'
 'Mercedes EQS SUV 500 4MATIC' 'Volvo XC40 Recharge Single Motor'
 'Volvo XC40 Recharge Single Motor ER' 'Volvo XC40 Recharge Twin Motor'
 'Volvo C40 Recharge Single Motor' 'Volvo C40 Recharge Single Motor ER'
 'Volvo C40 Recharge Twin Motor' 'Renault Kangoo E-Tech Electric'
 'Maserati GranTurismo Folgore' 'Seres 3 '
 'VinFast VF 8 Eco Standard Range' 'VinFast VF 8 Eco Extended Range'
 'VinFast VF 8 Plus Standard Range' 'VinFast VF 8 Plus Extended Range'
 'VinFast VF 9 Standard Range' 'VinFast VF 9 Extended Range'
 'Jaguar I-Pace EV400' 'Dacia Spring Electric 65 Extreme'
 'ORA Funky Cat 63 kWh' 'ORA Funky Cat GT' 'Jeep Avenger Electric '
 'Polestar 2 Standard Range Single Motor'
 'Polestar 2 Long Range Single Motor' 'Polestar 2 Long Range Dual Motor'
 'Polestar 2 Long Range Performance' 'XPENG P7 RWD Long Range'
 'XPENG P7 AWD Performance' 'XPENG P7 Wing Edition'
 'XPENG G9 RWD Standard Range' 'XPENG G9 RWD Long Range'
 'XPENG G9 AWD Long Range' 'Mini Cooper SE Convertible'
 'Volkswagen ID.4 GTX' 'Hyundai Kona Electric 48 kWh'
 'Hyundai Kona Electric 65 kWh' 'Volkswagen ID.3 Pro'
 'Volkswagen ID.3 Pro S - 4 Seats' 'Kia EV9 99.8 kWh RWD'
 'Kia EV9 99.8 kWh AWD' 'Maxus MIFA 9 ' 'BMW i7 M70 xDrive'
 'Volkswagen ID.7 Pro' 'Volkswagen ID.7 Pro S'
 'Polestar 4 Long Range Single Motor' 'Polestar 4 Long Range Dual Motor'
 'Maserati Grecale Folgore']
La columna: Subtitle contiene los elementos ['118 kWh useable battery          Available since January 2022'
 '83.7 kWh useable battery          Available since January 2020'
 '85 kWh useable battery          Available since March 2021'
 '52 kWh useable battery          Available since November 2019'
 '52 kWh useable battery          Available since June 2021'
 '75 kWh useable battery          Available since March 2022'
 '83.7 kWh useable battery          Available since July 2021'
 '16.7 kWh useable battery          Available since January 2020'
 '28.5 kWh useable battery          Available since August 2020'
 '71 kWh useable battery          Available since May 2020'
 '83.7 kWh useable battery          Available since April 2020'
 '90 kWh useable battery          Available since September 2020'
 '45 kWh useable battery          Available since November 2020'
 '80.7 kWh useable battery          Available since November 2021'
 '21.3 kWh useable battery          Available since November 2020'
 '37.3 kWh useable battery          Available since November 2020'
 '58 kWh useable battery          Available since April 2021'
 '77 kWh useable battery          Available since April 2021'
 '77 kWh useable battery          Available since June 2021'
 '77 kWh useable battery          Available since October 2022'
 '52 kWh useable battery          Available since August 2021'
 '63 kWh useable battery          Available since July 2022'
 '87 kWh useable battery          Available since July 2022'
 '87 kWh useable battery          Available since April 2023'
 '77 kWh useable battery          Available since January 2021'
 '90 kWh useable battery          Available since October 2020'
 '112 kWh useable battery          Available since February 2023'
 '88 kWh useable battery          Expected from June 2023'
 '80 kWh useable battery          Available since November 2020'
 '46.3 kWh useable battery          Available since November 2020'
 '68 kWh useable battery          Available since February 2021'
 '71 kWh useable battery          Available since February 2021'
 '83.7 kWh useable battery          Available since February 2021'
 '95 kWh useable battery          Available since January 2023'
 '95 kWh useable battery          Available since November 2022'
 '28.9 kWh useable battery          Available since March 2021'
 '39 kWh useable battery          Available since February 2021'
 '52 kWh useable battery          Available since January 2021'
 '39.2 kWh useable battery          Available since June 2021'
 '64 kWh useable battery          Available since June 2021'
 '74 kWh useable battery          Available since April 2022'
 '71 kWh useable battery          Available since October 2021'
 '105.2 kWh useable battery          Available since November 2021'
 '57.4 kWh useable battery          Available since March 2022'
 '65 kWh useable battery          Available since October 2021'
 '54 kWh useable battery          Available since July 2021'
 '54 kWh useable battery          Available since October 2021'
 '74 kWh useable battery          Available since October 2021'
 '107.8 kWh useable battery          Available since October 2021'
 '52 kWh useable battery          Available since February 2021'
 '76.6 kWh useable battery          Available since June 2021'
 '76.6 kWh useable battery          Available since July 2021'
 '76.6 kWh useable battery          Available since August 2021'
 '66.5 kWh useable battery          Available since February 2022'
 '66.5 kWh useable battery          Available since May 2021'
 '68 kWh useable battery          Available since October 2021'
 '58 kWh useable battery          Available since October 2021'
 '58 kWh useable battery          Available since March 2022'
 '77 kWh useable battery          Available since March 2022'
 '60 kWh useable battery          Available since April 2022'
 '46.3 kWh useable battery          Available since July 2021'
 '74 kWh useable battery          Available since September 2021'
 '40 kWh useable battery          Available since April 2022'
 '107.8 kWh useable battery          Available since February 2022'
 '90.6 kWh useable battery          Available since April 2022'
 '49 kWh useable battery          Available since November 2021'
 '68.3 kWh useable battery          Available since November 2021'
 '60 kWh useable battery          Available since October 2021'
 '46.3 kWh useable battery          Available since October 2021'
 '46.3 kWh useable battery          Available since September 2021'
 '57.5 kWh useable battery          Available since December 2021'
 '83.7 kWh useable battery          Available since February 2022'
 '64 kWh useable battery          Available since June 2022'
 '46.3 kWh useable battery          Available since November 2021'
 '56 kWh useable battery          Available since February 2022'
 '105.2 kWh useable battery          Available since April 2022'
 '75 kWh useable battery          Available since November 2021'
 '68 kWh useable battery          Available since November 2020'
 '46.3 kWh useable battery          Available since October 2020'
 '68 kWh useable battery          Available since October 2020'
 '46.3 kWh useable battery          Available since February 2021'
 '46.3 kWh useable battery          Available since June 2021'
 '68 kWh useable battery          Available since June 2021'
 '60 kWh useable battery          Available since January 2022'
 '75 kWh useable battery          Available since February 2022'
 '71 kWh useable battery          Available since March 2022'
 '83.7 kWh useable battery          Available since March 2022'
 '77 kWh useable battery          Available since February 2022'
 '58 kWh useable battery          Available since July 2022'
 '77 kWh useable battery          Available since July 2022'
 '77 kWh useable battery          Available since December 2022'
 '46 kWh useable battery          Available since June 2022'
 '74 kWh useable battery          Available since June 2022'
 '32.3 kWh useable battery          Available since August 2021'
 '77 kWh useable battery          Available since September 2022'
 '90.6 kWh useable battery          Available since July 2022'
 '39 kWh useable battery          Available since March 2022'
 '59 kWh useable battery          Available since March 2022'
 '66.5 kWh useable battery          Available since March 2022'
 '64.8 kWh useable battery          Available since June 2022'
 '62 kWh useable battery          Available since March 2023'
 '108.4 kWh useable battery          Available since December 2022'
 '101.7 kWh useable battery          Available since November 2022'
 '64 kWh useable battery          Available since February 2023'
 '30 kWh useable battery          Available since May 2022'
 '66.5 kWh useable battery          Available since June 2022'
 '70.5 kWh useable battery          Available since June 2022'
 '107.8 kWh useable battery          Available since June 2022'
 '64.7 kWh useable battery          Available since November 2022'
 '77 kWh useable battery          Available since June 2022'
 '82.5 kWh useable battery          Available since June 2022'
 '25 kWh useable battery          Available since July 2022'
 '46.3 kWh useable battery          Available since November 2022'
 '50.8 kWh useable battery          Available since October 2022'
 '61.7 kWh useable battery          Available since October 2022'
 '75 kWh useable battery          Available since March 2023'
 '100 kWh useable battery          Available since March 2023'
 '89 kWh useable battery          Available since July 2022'
 '54 kWh useable battery          Available since January 2023'
 '74 kWh useable battery          Available since December 2022'
 '74 kWh useable battery          Available since November 2022'
 '76.6 kWh useable battery          Available since July 2022'
 '46.3 kWh useable battery          Available since June 2022'
 '68 kWh useable battery          Available since June 2022'
 '74 kWh useable battery          Available since October 2022'
 '21.3 kWh useable battery          Available since July 2022'
 '57.5 kWh useable battery          Available since November 2022'
 '50.8 kWh useable battery          Expected from May 2023'
 '76.5 kWh useable battery          Available since December 2022'
 '90 kWh useable battery          Available since December 2022'
 '64 kWh useable battery          Available since September 2022'
 '39.2 kWh useable battery          Available since September 2022'
 '70.5 kWh useable battery          Available since October 2022'
 '90 kWh useable battery          Available since October 2022'
 '70 kWh useable battery          Available since November 2022'
 '91 kWh useable battery          Available since November 2022'
 '107 kWh useable battery          Available since November 2022'
 '90.6 kWh useable battery          Available since December 2022'
 '90.6 kWh useable battery          Expected from May 2023'
 '100 kWh useable battery          Expected from November 2023'
 '60 kWh useable battery          Available since December 2022'
 '107 kWh useable battery          Available since March 2023'
 '89 kWh useable battery          Available since December 2022'
 '106 kWh useable battery          Available since December 2022'
 '106 kWh useable battery          Expected from May 2023'
 '107 kWh useable battery          Available since December 2022'
 '70.5 kWh useable battery          Available since November 2022'
 '46.3 kWh useable battery          Available since April 2022'
 '45.4 kWh useable battery          Available since November 2022'
 '60 kWh useable battery          Available since August 2022'
 '84 kWh useable battery          Available since August 2022'
 '83 kWh useable battery          Available since March 2023'
 '67 kWh useable battery          Available since November 2022'
 '70.5 kWh useable battery          Available since December 2022'
 '37.3 kWh useable battery          Available since January 2023'
 '50.8 kWh useable battery          Available since November 2022'
 '50.8 kWh useable battery          Available since January 2023'
 '66 kWh useable battery          Available since December 2022'
 '79 kWh useable battery          Available since December 2022'
 '44 kWh useable battery          Available since December 2022'
 '83 kWh useable battery          Expected from June 2023'
 '51 kWh useable battery          Available since October 2021'
 '82 kWh useable battery          Expected from May 2023'
 '87.7 kWh useable battery          Expected from May 2023'
 '92 kWh useable battery          Expected from June 2023'
 '123 kWh useable battery          Expected from June 2023'
 '84.7 kWh useable battery          Available since January 2023'
 '25 kWh useable battery          Available since January 2023'
 '59.3 kWh useable battery          Available since April 2023'
 '67 kWh useable battery          Available since January 2023'
 '78 kWh useable battery          Available since January 2023'
 '82.7 kWh useable battery          Available since February 2023'
 '75 kWh useable battery          Available since February 2023'
 '94 kWh useable battery          Available since February 2023'
 '28.9 kWh useable battery          Available since April 2023'
 '48.4 kWh useable battery          Expected from September 2023'
 '65.4 kWh useable battery          Expected from September 2023'
 '58 kWh useable battery          Available since March 2023'
 '77 kWh useable battery          Available since March 2023'

In [12]:
df_clean=df
df_clean

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Lucid Air Dream Edition P,118 kWh useable battery Available sin...,2.7 sec,270,645,183,820,All Wheel Drive,5,"218,000",NaN
1,Porsche Taycan Turbo S,83.7 kWh useable battery Available si...,2.8 sec,260,400,209,980,All Wheel Drive,4,"189,668","142,400"
2,Audi e-tron GT RS,85 kWh useable battery Available sinc...,3.3 sec,250,405,210,1000,All Wheel Drive,4,"146,050","115,000"
3,Renault Zoe ZE50 R110,52 kWh useable battery Available sinc...,11.4 sec,135,315,165,230,Front Wheel Drive,5,"36,840",NaN
4,Audi Q4 e-tron 35,52 kWh useable battery Available sinc...,9.0 sec,160,285,182,360,Rear Wheel Drive,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
304,Volkswagen ID.7 Pro,77 kWh useable battery Expected from ...,8.0 sec,180,470,164,700,Rear Wheel Drive,5,"55,000","53,000"
305,Volkswagen ID.7 Pro S,86 kWh useable battery Expected from ...,7.0 sec,180,520,165,800,Rear Wheel Drive,5,"60,000","56,000"
306,Polestar 4 Long Range Single Motor,94 kWh useable battery Expected from ...,7.4 sec,180,510,184,760,Rear Wheel Drive,5,"60,000","55,000"
307,Polestar 4 Long Range Dual Motor,94 kWh useable battery Expected from ...,3.8 sec,200,475,198,710,All Wheel Drive,5,"65,000","60,000"
308,Maserati Grecale Folgore,95 kWh useable battery Expected from ...,4.1 sec,220,405,235,440,All Wheel Drive,5,NaN,"135,000"

In [13]:
df_clean.describe()

         TopSpeed       Range  Efficiency  NumberofSeats
count  309.000000  309.000000  309.000000     309.000000
mean   180.754045  361.440129  199.430421       5.284790
std     38.738187  110.861212   33.021626       0.978567
min    125.000000   95.000000  150.000000       2.000000
25%    150.000000  275.000000  174.000000       5.000000
50%    180.000000  370.000000  192.000000       5.000000
75%    200.000000  440.000000  214.000000       5.000000
max    320.000000  685.000000  295.000000       7.000000

In [14]:
Traccion_Full=df_clean[df_clean['Drive']=='All Wheel Drive']
Traccion_Front=df_clean[df_clean['Drive']=='Front Wheel Drive']
Traccion_Rear=df_clean[df_clean['Drive']=='Rear Wheel Drive']

In [15]:
Traccion_Rear['Drive'].unique()

array(['Rear Wheel Drive'], dtype=object)

In [16]:
Traccion_Full.describe()

         TopSpeed       Range  Efficiency  NumberofSeats
count  128.000000  128.000000  128.000000     128.000000
mean   212.148438  437.421875  199.648438       5.062500
std     32.058777   71.425266   18.918636       0.739759
min    160.000000  305.000000  155.000000       4.000000
25%    185.000000  398.750000  187.750000       5.000000
50%    200.000000  425.000000  199.000000       5.000000
75%    241.250000  476.250000  209.000000       5.000000
max    320.000000  685.000000  254.000000       7.000000

In [31]:
Precio=df_clean[(df_clean['Efficiency']> 200)& (df_clean['TopSpeed']>250)]

In [32]:
Precio

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
1,Porsche Taycan Turbo S,83.7 kWh useable battery Available si...,2.8 sec,260,400,209,980,All Wheel Drive,4,"189,668","142,400"
8,Porsche Taycan Turbo,83.7 kWh useable battery Available si...,3.2 sec,260,415,202,1020,All Wheel Drive,4,"156,348","119,900"
54,Tesla Model X Plaid,95 kWh useable battery Available sinc...,2.6 sec,262,455,209,630,All Wheel Drive,7,"140,990","128,000"
151,Porsche Taycan Turbo Sport Turismo,83.7 kWh useable battery Available si...,3.2 sec,260,405,207,1000,All Wheel Drive,4,"157,300","120,900"
152,Porsche Taycan Turbo S Sport Turismo,83.7 kWh useable battery Available si...,2.8 sec,260,395,212,970,All Wheel Drive,4,"190,620","143,400"
236,Lotus Eletre R,107 kWh useable battery Available sin...,2.9 sec,260,450,238,940,All Wheel Drive,5,"150,990","120,000"

In [46]:
Precio=df_clean[(df_clean['Drive']=='Rear Wheel Drive')& (df_clean['TopSpeed']>200)]

In [47]:
Precio

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
49,Porsche Taycan,71 kWh useable battery Available sinc...,5.4 sec,230,410,173,1010,Rear Wheel Drive,4,"88,399","75,500"
50,Porsche Taycan Plus,83.7 kWh useable battery Available si...,5.4 sec,230,475,176,1170,Rear Wheel Drive,4,"94,123","79,549"
73,Mercedes EQS 450+,107.8 kWh useable battery Available s...,6.2 sec,210,640,168,960,Rear Wheel Drive,5,"109,551","105,610"
97,Mercedes EQE 350+,90.6 kWh useable battery Available si...,6.4 sec,210,525,173,780,Rear Wheel Drive,5,NaN,NaN
106,Tesla Model 3,57.5 kWh useable battery Available si...,6.1 sec,225,380,151,630,Rear Wheel Drive,5,"44,668","42,990"
147,Porsche Taycan Sport Turismo,71 kWh useable battery Available sinc...,5.4 sec,230,380,187,930,Rear Wheel Drive,4,"89,351","76,500"
148,Porsche Taycan Plus Sport Turismo,83.7 kWh useable battery Available si...,5.4 sec,230,445,188,1090,Rear Wheel Drive,4,"95,074","80,549"
173,Mercedes EQS SUV 450+,108.4 kWh useable battery Available s...,6.7 sec,210,495,219,650,Rear Wheel Drive,7,"110,801",NaN
196,Mercedes EQE 300,89 kWh useable battery Available sinc...,7.6 sec,210,515,173,650,Rear Wheel Drive,5,"66,402","74,345"
197,Mercedes EQE 350,89 kWh useable battery Available sinc...,6.4 sec,210,515,173,650,Rear Wheel Drive,5,"70,210","77,345"
211,Tesla Model Y,57.5 kWh useable battery Available si...,6.9 sec,217,345,167,580,Rear Wheel Drive,5,"47,567","44,990"
228,Mercedes EQE SUV 350+,90.6 kWh useable battery Available si...,7.0 sec,210,470,193,700,Rear Wheel Drive,5,"90,000",NaN
283,Polestar 2 Standard Range Single Motor,67 kWh useable battery Available sinc...,6.4 sec,205,385,174,620,Rear Wheel Drive,5,"50,775","44,950"
284,Polestar 2 Long Range Single Motor,78 kWh useable battery Available sinc...,6.2 sec,205,440,177,680,Rear Wheel Drive,5,"54,475","48,950"